.is-primary {
  border: 1px solid $blueberry;
  background-color: $blueberry;
  &.is-outlined {
    background-color: transparent;
    border-color: $blueberry;
    color: $blueberry;
  }
  @include is-transparent($blueberry);
  @include transition(all 0.3s);
}
.is-danger {
  border: 1px solid $raspberry;
  background-color: $raspberry;
  &.is-outlined {
    background-color: transparent;
    border-color: $raspberry;
    color: $raspberry;
  }
  @include is-transparent($raspberry);
  @include transition(all 0.3s);
}
.is-warning {
  border: 1px solid $banana;
  background-color: $banana;
  &.is-outlined {
    background-color: transparent;
    border-color: $banana;
    color: $banana;
  }
  @include is-transparent($banana);
  @include transition(all 0.3s);
}
.is-success {
  border: 1px solid $kiwi;
  background-color: $kiwi;
  &.is-outlined {
    background-color: transparent;
    border-color: $kiwi;
    color: $kiwi;
  }
  @include is-transparent($kiwi);
  @include transition(all 0.3s);
}
.is-dark {
  border: 1px solid $dark;
  background-color: $dark;
  color: $light;
  &.is-outlined {
    background-color: transparent;
    border-color: $dark;
    color: $dark;
  }
  @include is-transparent($dark);
  @include transition(all 0.3s);
}
.is-light {
  border: 1px solid $light;
  background-color: $light;
  color: $dark;
  &.is-outlined {
    background-color: transparent;
    border-color: $light;
    color: $light;
  }
  @include is-transparent($light);
  @include transition(all 0.3s);
}

article.notification {
  &.is-primary {
    background-color: $primary-background-light;
    color: $primary-text-dark;
  }
  &.is-danger {
    background-color: $danger-background-light;
    color: $danger-text-dark;
  }
  &.is-warning {
    background-color: $warning-background-light;
    color: $warning-text-dark;
  }
  &.is-success {
    background-color: $success-background-light;
    color: $success-text-dark;
  }
}
