@mixin is-lighter() {
  .is-lighter {
    &.is-primary {
      background-color: $blueberry-light;
      &.is-outlined {
        border-color: $blueberry-light;
        color: $blueberry-light;
        &:hover {
          background-color: $blueberry-light;
          border-color: $blueberry-light;
          color: #fff;
        }
      }
    }
    &.is-danger {
      background-color: $raspberry-light;
      &.is-outlined {
        border-color: $raspberry-light;
        color: $raspberry-light;
        &:hover {
          background-color: $raspberry-light;
          border-color: $raspberry-light;
          color: #fff;
        }
      }
    }
    &.is-warning {
      background-color: $banana-light;
      &.is-outlined {
        border-color: $banana-light;
        color: $banana-light;
        &:hover {
          background-color: $banana-light;
          border-color: $banana-light;
          color: #fff;
        }
      }
    }
    &.is-success {
      background-color: $kiwi-light;
      &.is-outlined {
        border-color: $kiwi-light;
        color: $kiwi-light;
        &:hover {
          background-color: $kiwi-light;
          border-color: $kiwi-light;
          color: #fff;
        }
      }
    }
  }
}

@mixin is-darker() {
  .is-darker {
    &.is-primary {
      background-color: $blueberry-dark;
      &.is-outlined {
        border-color: $blueberry-dark;
        color: $blueberry-dark;
        &:hover {
          background-color: $blueberry-dark;
          border-color: $blueberry-dark;
          color: #fff;
        }
      }
    }
    &.is-danger {
      background-color: $raspberry-dark;
      &.is-outlined {
        border-color: $raspberry-dark;
        color: $raspberry-dark;
        &:hover {
          background-color: $raspberry-dark;
          border-color: $raspberry-dark;
          color: #fff;
        }
      }
    }
    &.is-warning {
      background-color: $banana-dark;
      &.is-outlined {
        border-color: $banana-dark;
        color: $banana-dark;
        &:hover {
          background-color: $banana-dark;
          border-color: $banana-dark;
          color: #fff;
        }
      }
    }
    &.is-success {
      background-color: $kiwi-dark;
      &.is-outlined {
        border-color: $kiwi-dark;
        color: $kiwi-dark;
        &:hover {
          background-color: $kiwi-dark;
          border-color: $kiwi-dark;
          color: #fff;
        }
      }
    }
  }
}

@mixin is-transparent($bgColor) {
  &.is-transparent {
    background-color: transparent;
    color: $bgColor;
    border: 1px solid transparent;

    &:hover {
      color: lighten($bgColor, 20);
      background-color: transparent;
    }
  }
}

@mixin box-shadow() {
  &.has-shadow, &.has-shadow:focus {
    &.is-success {
      box-shadow: 0 4px 0 $kiwi-light;
    }
    &.is-primary {
      box-shadow: 0 4px 0 $blueberry-light;
    }
    &.is-danger {
      box-shadow: 0 4px 0 $raspberry-light;
    }
    &.is-warning {
      box-shadow: 0 4px 0 $banana-light;
    }
    &.is-dark {
      box-shadow: 0 4px 0 $licorice-light;
    }
    &.is-light {
      box-shadow: 0 4px 0 $cloud;
    }
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}